<h1 style="color: orange">
    Address details
</h1>

<div class="form-personal">
    <form>
        <input type="text" placeholder="Name" formControlName="shippingName" />
        <br>
        <input type="text" placeholder="Address" formControlName="shippingAddress" />
        <br>
        <input type="text" placeholder="City" formControlName="shippingCity" />
        <br>
        <input type="text" placeholder="Postal Code" formControlName="shippingPostalCode" />
        <br>
        <button type="submit">Place order</button>
    </form>
</div>